body
{background: gray;
    font-family: 'Montserrat', sans-serif;
    
}


#city{
    height: 503px;
    width: 350px;
    background: white;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: relative;
}

#cabeza
{
    overflow: hidden;
    position: relative;
    height: 322px;
    box-sizing: border-box;
    transition: all 0.5s linear;
}


#subcity
{
    padding: 10px 30px 0px 25px;
    box-sizing: border-box;   
    line-height : 5px;
}

#simcity
{
    height: 181px;
    transition: all 0.5s linear;
}

h1 {
    color: #333333;
    font-size: 22px;
}

h2 {
    color: #e74c3c;
    font-size: 16px;
}

.arcoiris{
    height: 322px;
}

#fecha
{
    display: inline-block;
    box-sizing: border-box;
    background: #e74c3c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bolder;
    line-height : 7px;
    padding-top: 14px;
}

.mar{
    font-size: 9px;
}

#potos
{
    display: inline-block;
    box-sizing: border-box;
    background: #e74c3c;
    width: 90px;
    height: 35px;
    color: white;
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: bolder;
    line-height : 7px;
    padding-top: 14px;
}

#vaporeon
{
 color: gray;
 box-sizing: border-box;
 position: absolute;
 font-size: 12px;
 bottom: 20px;
 left: 25px;
}

#mins,#comentarios
{padding-left: 5px;
padding-right: 5px;
}

.nori
{display: none;
 font: 10px;
 color: gray;
 line-height : 20px;   
}

#city:hover #cabeza 

{
 height: 222px;   
}

#city:hover #simcity
{
 height: 281px;
}

#city:hover .nori {
display: block;
}

#dark
 {
     position: absolute;
     background-color: black;
     top: 0px;
     left: 0px;
     opacity: 0; 
     height: 322px;
     width: 350px;
     transition: all 0.5s linear;
     
 }


#city:hover #dark 
{
    height: 222px;
    opacity: 0.5;
}

