body
{background: gray;
    font-family: 'Montserrat', sans-serif;
    
}


#city{
    height: 503px;
    width: 350px;
    background: white;
    overflow: hidden;
    position: relative;
}

h1 {
    color: #333333;
}

h3{
    color: #e74c3c;
}

.arcoiris{
    height: 322px;
}

#fecha
{
    display: inline-block;
    box-sizing: border-box;
    background: #e74c3c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
   font-size: 14px;
   position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bolder;
    line-height : 7px;
    padding-top: 14px;
}

.mar{
    font-size: 9px;
}
